#details {
  grid-area: 2 / 2 / 3 / 3;
  padding-left: 4%;
  padding-right: 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#wifi {
  height: 60%;
}

#time {
  color: #dfdac7;
  font-size: 3vh;
}

#location {
  height: 80%;
}

#title {
  grid-area: 4 / 2 / 5 / 3;
  color: #776755;
  font-size: 4.5vh;
  letter-spacing: 0.01em;
  text-align: center;
}

#apps {
  grid-area: 6 / 2 / 7 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 4.85%;
  grid-row-gap: 6.94%;
}

.appContainer {
  min-height: 0;
  min-width: 0;
  &[data-active="true"] {
    transform: scale(1.1);
    transform-origin: center;
  }
}

#pages {
  grid-area: 8 / 2 / 9 / 3;
}

#screenshot {
  opacity: 50%;
  height: 75vh;
  visibility: hidden;
}
